{% extends 'base.html' %}

    {% block my_css_link %}
        <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    {% endblock my_css_link %}

    {% block title %}HobbyHabit: Add Goals{% endblock title %}

    <div class="add-goals">

        {% block banner_content %}
            <!-- <a href=""></a> -->
        {% endblock banner_content %}

        {% block body_content %}
            <h1>
                Set Goals
            </h1>
            <h2>
                Setting goals for your HobbyHabits is optional...
            </h2>
            <h3>
                Click a hobby to set a goal for that hobby...
            </h3>
            <h5>
                (Click skip at the bottom to go directly to your dashboard.)
            </h5>

            <div id="user-hobbies">

                 {% for current_user_hobby in current_user_hobbies %}
                    {% for hobby_name in current_user_hobby %}

                    <button id="current-user-hobby-btn" type="button">{{ hobby_name.title() }}</button>

                    {% endfor %}
                 {% endfor %}

            </div>

            <form id="add-goals" action="/process-goals" method="POST">

                <input id="goal-start-date" type="text" name="goal-start-date">

                <input id="goal-freq-num" type="number" name="goal-freq-num" min="1" max="50">

                <select id="goal-freq-time-unit" name="goal-freq-time-unit">
                    <option value="Day">Day</option>
                    <option value="Week">Week</option>
                    <option value="Month">Month</option>
                    <option value="Year">Year</option>
                </select>
                
            </form>

        {% endblock body_content %}

    </div>

    {% block js_link %}  
        <script type="text/javascript" src="static/js/add-goals.js"></script>
    {% endblock js_link %}


