{% extends 'base.html' %}

    {% block my_css_link %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    {% endblock my_css_link %}

    {% block title %}HobbyHabit: Add Goals{% endblock title %}

    <div class="add-goals">

        {% block body_content %}
            <h1>
                Set Goals
            </h1>
            <h2>
                Setting goals for your HobbyHabits is optional...
            </h2>
            <h3>
                Click a HobbyHabit to set a goal for that HobbyHabit...
            </h3>
            <h5>
                (Click skip at the bottom to go directly to your dashboard.)
            </h5>
            <br>

                 {% for hobby in current_user_hobbies %}
                        <div id="current-user-hobby">
                            <!-- Trigger the modal with button. -->
                            <button class="btn btn-info active hobby-goal-btn" type="button" data-toggle="modal" data-target="#goalModal" data-hobby-id="{{hobby.hobby_id}}">
                                {{ hobby.hobby_name.title() }}
                            </button>
                        </div>
                    <br>
                 {% endfor %}

                <button id="skip-goal-btn" type="button">
                    Skip
                </button>

            <!-- Goal modal -->
            <div id="goalModal" class="modal fade">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                Set {{ current_user.username }}'s goal for <!-- hobby name -->
                            </h4>
                        </div>

                        <div class="modal-body">
                            <form class="add-goal-form" action="/process-goal" method="POST">
                                <input id="hobby-id" type="text" name="hobby-id">  <!-- Change to hidden once working -->
                                Goal Start Date
                                <input id="goal-start-date" type="text" name="goal-start-date" placeholder=" -- Select start date --" required>
                                <br>
                                <br>
                                Goal Frequency
                                <input id="goal-freq-num" type="number" name="goal-freq-num" min="1" max="1000" placeholder="--" required>
                                <br>
                                <br>
                                Goal Time Unit
                                <select id="goal-freq-time-unit" name="goal-freq-time-unit" required>
                                    <option value="Day">Day</option>
                                    <option value="Week">Week</option>
                                    <option value="Month">Month</option>
                                    <option value="Year">Year</option>
                                </select>
                                <br>
                                <br>
                                <button class="add-goal-btn" data-next="add-more">Add goal for another HobbyHabit</button> or <!-- Only display if user has more than one hobbyhabit -->
                                <button class="add-goal-btn" data-next="dashboard">Set goal & continue to dashboard</button>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <p id="sm-fields-note" align="left">
                                <small>*All fields are required in order to set goal</small>
                            </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Exit without setting goal
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body_content %}

    </div>

    {% block js_link %}  
        <script type="text/javascript" src="static/js/add-goal.js"></script>
    {% endblock js_link %}


