{% extends 'base.html' %}

    {% block my_css_link %}
        <!-- <link rel="stylesheet" type="text/css" href=""> -->
    {% endblock my_css_link %}

    {% block title %}Welcome to HobbyHabit{% endblock title %}

    <div class="add-goals">

        {% block banner_content %}
            <!-- <a href=""></a> -->
        {% endblock banner_content %}

        {% block body_content %}
            <h1>
                Set Goals
            </h1>
            <h2>
                Setting goals for your HobbyHabits is optional...
            </h2>
            <h3>
                Click a hobby to set a goal for that hobby...
            </h3>
            <h5>
                (Click skip at the bottom to go directly to your dashboard.)
            </h5>

            <div id="user-hobbies">

                 {% for current_user_hobby in current_user_hobbies %}

                    <button id="current-user-hobby-btn" type="button">{{ current_user_hobby }}</button>

                 {% endfor %}

            </div>

            <form id="add-goals" action="/process-goals" method="POST">

                <input id="goal-start-date" type="" name="goal-start-date">  <!-- would like this to be a dropdown calendar -->

                <select id="goal-freq-num" name="goal-freq-num" size="5">
                    <option><!-- range of numbers from 1-50? --></option>
                </select>

                <select id="goal-freq-time-unit" name="goal-freq-time-unit" size="4">
                    <option value="Day">Day</option>
                    <option value="Week">Week</option>
                    <option value="Month">Month</option>
                    <option value="Year">Year</option>
                </select>
                
            </form>

        {% endblock body_content %}

    </div>

    {% block js_link %}
        <script type="text/javascript" src="add-hobbies.js"></script>
    {% endblock js_link %}




