<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Bootstrap links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- My CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="static/.../css"> -->
    {% block my_css_link %}CSS LINK GOES HERE{% endblock my_css_link %}
    
    <title>
        {% block title %}TITLE GOES HERE{% endblock title %}
    </title>
    
</head>

<body>

    <!-- <nav class="navbar navbar-inverse"> -->
        <!-- <div class="container-fluid"> -->
            <!-- <div class="navbar-header"> -->
                <!-- <a class="navbar-brand" href="#">HobbyHabit</a> -->
            <!-- </div> -->
            <!-- <ul class="nav navbar-nav"> -->
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <!-- <li><a href="#">Link</a></li> -->
                <!-- <li><a href="#">Link</a></li> -->
            <!-- </ul> -->
            <!-- <button class="btn btn-danger navbar-btn">Button</button> Use the navbar-btn class on a button to vertically align (same padding as links) it inside the navbar. -->
        <!-- </div> -->
    <!-- </nav> -->

    <div id="body-content">
        {% block body_content %}BODY GOES HERE{% endblock body_content %}
    </div>

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 by <!-- <a href=""> -->Natalie Komforti<!-- </a> -->.
        {% endblock footer %}
    </div>

    <!-- JQuery links -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>


    <!-- JavaScript link -->
    <!-- <script src="my_js_file.js"></script> -->
    {% block js_link %}LINK TO MY JAVASCRIPT FILE GOES HERE{% endblock js_link %}

</body>
</html>




