{% extends 'base.html' %}

    {% block my_css_link %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <!-- <link rel="stylesheet" type="text/css" href=""> -->
    {% endblock my_css_link %}

    {% block title %}HobbyHabit: Dashboard{% endblock title %}

    <div class="dashboard">

        {% block body_content %}

        <div class="menu-btns">

            <div id="user-profile">
                <button id="user-profile-btn" class="btn-info btn-lg" type="button">
                    User Profile
                </button>
                <br><br>
            </div>

            <div id="my-hobbyhabits">
                <button id="my-hobbyhabits-btn" class="btn-info btn-lg" type="button">
                    My HobbyHabits
                </button>
                <br><br>
            </div>

            <div id="social">
                <button id="social-btn" class="btn-info btn-lg" type="button">
                    Social
                </button>
                <br><br>
            </div>

            <div id="settings">
                <button id="settings-btn" class="btn-info btn-lg" type="button">
                    Settings
                </button>
            </div>
            
        </div>

        <!-- <div class="my-hobbyhabit-display"> -->
            <!-- display content for My HobbyHabit -->
        <!-- </div> -->

        {% endblock body_content %}

    </div>

    {% block js_link %}  
        <script type="text/javascript" src="static/js/add-goal.js"></script>
    {% endblock js_link %}
