{% extends 'base.html' %}

    {% block my_css_link %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <!-- <link rel="stylesheet" type="text/css" href=""> -->
    {% endblock my_css_link %}

    {% block title %}HobbyHabit: Dashboard{% endblock title %}

    <div class="dashboard">

        {% block body_content %}

        <div class="menu-btns">

            <div id="user-profile">
                <button id="user-profile-menu-btn" class="btn-info btn-lg" type="button">
                    User Profile
                </button>
                <br><br>

                <div id="user-profile-content">
                    <form id="user-profile-form">
                        Username
                        <br>
                        <input id="username" type="text" name="username"> <!-- Display from DB -->
                        <br><br>

                        Email
                        <br>
                        <input id="email" type="email" name="email"> <!-- Display from DB -->
                        <br><br>

                        <!-- Button to trigger update password modal -->
                        <button id="update-password-btn" class="btn btn-info active" type="button">
                            Update password
                        </button>
                        <br><br>

                        First name
                        <br>
                        <input id="first-name" type="text" name="first-name"> <!-- Display first name from DB or placeholder if not in DB -->
                        <br><br>

                        Last name
                        <br>
                        <input id="last-name" type="text" name="last-name"> <!-- Display last name from DB or placeholder if not in DB -->
                        <br><br>

                        Phone number
                        <br>
                        <input id="phone-number" type="text" name="phone-number"> <!-- Display phone from DB or placeholder if not in DB. Also add tooltip explaining why and needs to be mobile, mobile charges apply... -->
                        <br><br>

                        Text message reminder
                        <br>
                        <input id="txt-opt-in" class="txt-reminder"type="radio" name="txt-opt-in" value="on"> On
                        <!-- add way to set message frequency conditions -->
                        <input id="txt-opt-out" class="txt-reminder" type="radio" name="txt-opt-out" value="off" checked> Off
                        <br><br>

                        <!-- make sure to add and commit these changes to the DB -->
                        <button id="update-profile" class="btn btn-info active" type="button">
                            Save changes to profile
                        </button>

                    </form>
                </div>
            </div>

            <div id="my-hobbyhabits">
                <button id="my-hobbyhabits-menu-btn" class="btn-info btn-lg" type="button">
                    My HobbyHabits
                </button>
                <br><br>

                <div id="my-hobbyhabit-content">

                    {% for hobby in current_user_hobbies %}
                        <div id="my-hobbyhabit-btn">
                            <!-- Trigger which hobbyhabbit to display details for with button. -->
                            <button class="btn btn-info active hobby-goal-btn" type="button" data-hobby-id="{{ hobby.hobby_id }}">
                                {{ hobby.hobby_name.title() }}
                            </button>

                        </div>
                    {% endfor %}
                </div>

            </div>

            <div id="social">
                <button id="social-menu-btn" class="btn-info btn-lg" type="button">
                    Social
                </button>
                <br><br>
                <p>are</p>
            </div>

            <div id="settings">
                <button id="settings-menu-btn" class="btn-info btn-lg" type="button">
                    Settings
                </button>
                <p>you?</p>
            </div>

        </div>

        {% endblock body_content %}

    </div>

    {% block js_link %}  
        <script type="text/javascript" src="static/js/dashboard.js"></script>
    {% endblock js_link %}
