{% extends 'base.html' %}

  {% block title %}HobbyHabit: Sign In{% endblock %}

  {% block body_content %}

    <div class="login-page">

      <h1>Sign In</h1> 
      <form action="/login" method="POST">
        Username: <input type="text" name="username" placeholder="username" required> <!-- username requirements add in 2.0-->
        <br>
        <a href="">Forgot username</a><!-- Add link, way to get to change form, and and add and commit to DB -->
        <br>
        <br>
        Password: <input type="password" name="password" placeholder="password" required>
        <br>
        <a href="">Forgot password</a>  <!-- Add link, way to get to change form, and and add and commit to DB -->
        <br>
        <br>
        <input type="submit" class="btn btn-info" value="Sign in">
      </form>
        
    </div>
    
  {% endblock body_content %}