{% extends 'base.html' %}

{% block title %}HobbyHabit Sign Up{% endblock %}

{% block content %}

    <div class="homepage">
        <h1>Sign Up</h1> 
        <form action="/register" method="POST">
            First Name: <input type="text" name="first-name" placeholder="First Name" required>
            <br>
            <br>
            Last Name: <input type="text" name="last-name" placeholder="Last Name" required>
            <br>
            <br>
            Email Address: <input type="email" name="email" placeholder="Email Address" required>
            <br>
            <br>
            Phone Number: <input type="text" name="phone" placeholder="(415) 555-1234">  <!-- Add a hover tooltip for phone field: Why do we ask for this? HobbyHabbit gives you the option to sign up for text reminders should you start to fall behind on the goals you set for yourself.-->
            <br>
            <br>
            Zipcode: <input type="text" name="zipcode" placeholder=""> <!-- Add a hover tooltip for zpcode field: Why do we ask for this? HobbyHabbit can help you find events in your area to ...-->
            <br>
            <br>
            Username: <input type="" name="username" placeholder="" required> <!-- username requirements-->
            <br>
            <br>
            Password: <input type="password" name="password" placeholder="" required> <!-- show strength-->
            <br>
            <br>
            <input type="submit" value="Sign me up!">
        </form>
    </div>

{% endblock %}