{% extends 'base.html' %}

{% block title %}Welcome to HobbyHabit{% endblock %}

{% block content %}

    <div class="lwelcome">
        <h1>Get Started</h1>
        <h2>Add one or more hobbies or habits that you want to track </h2>
        <form action="/login" method="POST">
            Username: <input type="text" name="username" placeholder="username" required> <!-- username requirements add in 2.0-->
            <br>
            <br>
            Password: <input type="password" name="password" placeholder="password" required> <!-- show strength??? add in 3.0-->
            <br>
            <br>
            <input type="submit" value="Sign ">
        </form>
    </div>

{% endblock %}