/*FONTS
font-family: 'Raleway', sans-serif;
font-family: 'Poiret One', sans-serif;
font-family: 'Satisfy', cursive;
*/
/*
*{
    font-family: 'Raleway', sans-serif;}*/

/*#home-heading{
    font-family: 'Raleway', sans-serif;
    font-size: 5.0em;
    font-weight: 100;
    color: #8c8c8c;
}*/

#login-form { 
    margin: 0 auto; 
    width:250px;
}
/*
button{
    font-family: 'Raleway', sans-serif;
}

form{
    font-family: 'Raleway', sans-serif;
}*/


/*#about-us{
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    font-weight: 100;
    color: #8c8c8c;
}*/

/*#brand-img{
    position: relative;
    top: -6px;
}*/

#completions-charts{
    width: 800px;
}

.btn .btn-info .active .hobbyhabit-btn{
  display: inline-block;
}

.btn .btn-info .active .hobby-goal-btn{
  display: inline-block;
}

.social-hobbyhabit{
    display: inline-block;
}

#dash-welcome{
    background-color: #f9be61;
}

/*#brand-name{
    font-family: 'Satisfy', sans-serif;
    font-size: 2.5em; /* 30px/16=1.875em */
    /*color: black;*/
/*}*/

.login{
    font-family: 'Raleway', sans-serif;
    /*font-size: 1.5em;  30px/16=1.875em */
    color: black;
}