#completions-charts{
    width: 800px;
}

.btn .btn-info .active .hobbyhabit-btn{
  display: inline-block;
}

.social-hobbyhabit{
    display: inline-block;
}

#dash-gif{
    background-color: #f9be61;
}

#brand-name{
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 2.875em; /* 30px/16=1.875em */
    color: black;
}