{% extends 'base.html' %}
  
  {% block my_css_link %}{% endblock my_css_link %}

  {% block title %}HobbyHabit{% endblock title %}

  {% block body_content %}

        <div class="row">
          <div class="col-xs-12" id="welcome">
            <h1 id="home-heading"><i>Go do things...</i></h1>
            <!-- <h1>things...</h1> -->
            <br><br>

            <style>
            body {
                background-image: url(static/img/background-home-50opac.jpg); no-repeat center center fixed; 
                background-repeat: no-repeat;
                background-position: 50% 0;
                -ms-background-size: cover;
                -o-background-size: cover;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                background-size: cover;
            }
            </style>

            <div class="row">
              <div class="col-xs-8" id="about-us">
                <p id="about-us">
                  HobbyHabit lets you track your progress for any tasks or hobbies you want to hold yourself more accountable for. You'll be able to set goals based on what you want to achieve, schedule reminders, find events where you can socialize with others in your area interested in the same activities, and toggle between several data visualizations that make analyzing the details of your progress easy and approachable, so that marveling at all your hard work is a snap and you can get back to getting things done! 
                </p>
              </div>

              <div class="col-xs-4" id="register">
                <h2 id="create-acct-heading">Create Account</h2>
                <form id="register-form" action="/register" method="POST">
                  Username
                  <br>
                  <input type="text" name="username" placeholder="Select username" required>
                  <br>
                  <br>
                  Email
                  <br>
                  <input type="email" name="email" placeholder="you@example.com" required>
                  <br>
                  <br>
                  Password
                  <br>
                  <input type="password" name="password" placeholder="Create a password" required>
                  <br>
                  <br>
                  <input type="submit" class="btn-info btn-lg create-acct-btn" value="Sign up">
                </form>
              </div>
            </div>
          </div>
        </div>
    
  {% endblock body_content %}

  {% block js_link %}{% endblock js_link %}
