<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- CSS links. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway|Satisfy" rel="stylesheet">
    <link href="/static/css/style-1.css" rel="stylesheet">


    {% block my_css_link %}CSS LINK GOES HERE{% endblock my_css_link %}
    
    <title>
        {% block title %}TITLE GOES HERE{% endblock title %}
    </title>
        
  </head>

  <body>

    <!-- Navbar start.-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav">
          <li><a id="brand" href="/"><img id="brand-img" alt="Brand" src="static/img/wht-clipboard-icon.png" width="35"><span id="brand-name">HobbyHabit</span></a></li>
        </ul>
      </div>

        <ul class="nav navbar-nav navbar-right">
          <li>
            {% if "user_id" in session %}
              <a class="login-link" href="/logout">Logout</a>
            {% else %}
              <a class="login-link" href="/login">Login</a>
            {% endif %}
          </li>
        </ul>

    </div><!-- /.container-fluid -->
  </nav>
  <!-- Navbar end. -->

    <div id="flash-login">      
      {% for flash in get_flashed_messages() %} 
        {{ flash }}
      {% endfor %}
    </div>

    <script type="text/javascript">
      setTimeout(function(){ 
        $("#flash-login").fadeOut(5000);
      });
    </script>

    <div class="container-fluid" id="body-content">
      {% block body_content %}BODY GOES HERE{% endblock body_content %}
    </div>

    <!-- <div id="footer"> -->
      <!-- {% block footer %} -->
      <!-- &copy; Copyright 2017 by Natalie Komforti. -->
      <!-- {% endblock footer %} -->
    <!-- </div> -->

    <!-- JQuery links. -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

    <!-- JavaScript links. -->
    <script type="text/javascript" href="static/js/nn.js"></script><!-- TODO -->
    {% block js_link %}LINK TO MY JAVASCRIPT FILE GOES HERE{% endblock js_link %}

  </body>

</html>